
.pagetitle {
    margin: 1em;
    margin-right: auto;
    font-size: calc(1em + 4.2vw);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleImg {
    width: 85%;
    margin: auto;
    margin-top: 5em;
}

.datebox {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: self-end;
    flex-direction: column;
}

.datebox h4 {
    margin: .5em;
    padding: 0;
}

.bosx h4 {
    margin: 0;
    padding: 0;
    text-align: right !important;
}

.datebox img {
    width: 1.5em;
    height: 1.5em;
    margin-left: .5em;
    border-radius: .1em;
}

.bosx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

a {
    color: white;
}

.quotebox {
    width: 90%;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote {
    text-align: center;
    width: 60%;
    margin: auto;
}

.quote h3 {
    margin: 0;
}


i {
    font-style: oblique;
}

.subheading {
    font-size: calc(.7em + 1vw);
    border: none;
    font-weight: 600;
    margin: 1em;
    margin-bottom: 0;
    margin-top: 2em;
}

@media screen and (min-width: 850px) {

    .titleImg {
        width: 50%;
    }
}