.boxJ {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}

.boxJ {
    background-image: url('/images/neuron3.png');
    background-size: cover;
    width: 100%;
    background-position: 50% 40%;
}

.pagetitle {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .85), rgba(0, 0, 0, 0.31));
    padding: .2em;
    backdrop-filter: blur(.2em);
    text-align: center;
}

.joinPgImg {
    width: calc(1.5em + 6vw);
    height: calc(1.5em + 6vw);
    margin: .3em;
}

.LinkBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.joinLink {
    margin: auto;
    font-family: 'Mona Sans';
    border-radius: .5em;
    text-decoration: none;
    border: .05em white solid;
    background-color: white;
    padding: .5em;
}

.joinLink h3 {
    color: black;
    padding: 0;
    margin: 0;
}

/* Phones (Portrait and Landscape) */
@media only screen 
  and (max-device-width: 767px) {
    .joinPgImg {
        margin: .1em;
    }
}
