
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}

.pagetitle {
    margin-right: auto;
    background-image: linear-gradient(to right, white, black);
    padding: .2em;
}

.aboutPgImg {
    width: calc(3.3em + 6VW);
    height: calc(3.3em + 6VW);
    margin: .2em;
}

.content {
    width: 96%;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-wrap: wrap;
}

.contentCard {
    width: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.contentCard h4 {
    margin: 0;
    text-align: left;
    width: 100%;
    padding-bottom: .1em;
}

.contentCard p {
    margin: 0;
    width: 100%;
    padding: 0;
    font-size: .9em;
}

.contentCard a {
    margin-left: .5em;
    color: white;
}

.visionary {
    background-image: url('/images/visionary.png');
    background-repeat: no-repeat;
    background-size: 9%;
    background-position: right;
}

.contentCard img {
    width: 18em;
}

.opacity {
    opacity: .5;
}

/* Phones (Portrait and Landscape) */
@media only screen 
  and (max-device-width: 767px) {

}
