body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction {
    margin: 1em;
    width: 100%;
    text-align: center;
}

.highlights {
    width: 30%;
    border-radius: .5em;
    height: fit-content;
    margin: 3em 0 0 1em;
}

.toggles {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggles a {
    text-decoration: none;
}

.flexbox {
    width: 97%;
    display: flex;
}

