@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Press+Start+2P&display=swap');

body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    background-image: url('/images/neuron.png');
    background-position: 50% 69%;
    background-size: cover;
    padding: 1em;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction h1 {
    backdrop-filter: blur(.2em);
    padding: .2em;
    background-color: rgba(0, 0, 0, 0.323);
}


/*  url('/images/neuron.png'), 
    url('/images/neuron2.png'),
    url('/images/neuron3.png'),
    url('/images/neuron4.png');
    background-repeat: no-repeat;
    background-position: 
    10% 40%,
    90% 40%,
    0% 70%,
    100% 70%;
    background-size: 15%, 15%, 15%, 15%;
 */

.introduction img {
    width: 50%;
}

.highlights {
    width: 30%;
    border-radius: .5em;
    height: fit-content;
    margin: 27vh 0 0 1em;
}

.toggles {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.toggles a {
    text-decoration: none;
}


.toggles h3 {
    position: relative;
}

.toggles h3::before {
    content: '';
    display: block;
}

.flexbox {
    width: 97%;
    display: flex;
}

.content {
    width: 96%;
    margin: auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-wrap: wrap;
}

.contentCard {
    width: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

/* .contentCard:hover {
    border-bottom: .1em solid #7af0ea;
    background-image: linear-gradient(to top, #7af0ea5b, rgba(255, 255, 255, 0) 30%);
} */

.contentCard h4 {
    margin: 0;
    text-align: left;
    width: 100%;
    padding-bottom: .1em;
}

.contentCard p {
    margin: 0;
    font-size: .9em;
    padding: 0;
}

.contentCard img {
    width: 100%;
}