@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Press+Start+2P&display=swap');

::selection {
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.891);
}


::-webkit-scrollbar{
    background: transparent;
}
  
::-webkit-scrollbar-track {
    background-color: rgba(0, 128, 0, 0);
}
  
::-webkit-scrollbar-thumb {
    background-color: white;
}
  
html {
    scrollbar-color: white   rgba(0, 0, 0, 0);
}

body {
    background-color: black;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top: 10em;
    margin: 0;
}

p, ul {
    color: white;
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 400;
    font-stretch: 100%;
    font-size: calc(.9em + .38vw);
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

ul {
    list-style-type: decimal;
}

li {
    font-weight: 300;
}

li a {
    font-weight: initial;
}

li::marker {
    font-weight: initial;
}

ul> li:hover::marker {
    color: #7af0ea;
    font-weight: initial;
}

.date {
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 700;
    font-stretch: 125%;
    color: white;
    font-size: .7em;
    padding: .5em;
    padding-bottom: 0;
    border-radius: .5em;
    width: 100%;
    text-align: right;
    display: flex;
}

.date span {
    margin-right: auto;
}


.articletitle {
    background-image: linear-gradient(to right, white, black);
    padding: .2em;
    width: fit-content;
}


h1 {
    font-family: 'Mona Sans';
    color: white;
    font-weight: 900;
    font-stretch: 125%;
    font-size: calc(2.5em + 5vw);
    transform: skew(-10deg);
    line-height: 90%;
    text-shadow: black .001em .001em .4em;
    line-height: 75%;
    text-transform: capitalize;
}


h2 {
    font-family: 'Mona Sans';
    color: white;
    font-weight: 900;
    font-stretch: 125%;
    font-size: calc(1.5em + 2vw);
    transform: skew(-10deg);
    line-height: 90%;
    text-shadow: black .001em .001em .4em;
    line-height: 75%;
    margin: 1em;
    margin-bottom: .2em;
    border-bottom: .05em white solid;
    padding-bottom: .1em;
    padding-left: .5em;
    width: 99%;
    margin-right: auto;
    margin-left: auto;

}

h3 {
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 500;
    font-stretch: 125%;
    color: white;
    font-size: 1em;
    padding: .5em;
    border-radius: .5em;
}

h4 {
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 700;
    font-stretch: 125%;
    color: white;
    font-size: 1em;
    padding: .5em;
    border-radius: .5em;
    text-transform: capitalize;
}

h5 {
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 500;
    font-stretch: 125%;
    color: white;
    border-bottom: white .1em solid;
    font-size: 1em;
    padding: 0em;
    margin: auto;
    margin-top: 2em;
    width: fit-content;
}

.imgLogo {
    width: 5em;
    padding: .2em;
}

input {
    background-color: rgb(255, 60, 0);
    border: .01em white solid;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: 50% 20%;
    background-size: cover;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.445);
    backdrop-filter: blur(.75em);
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    margin-right: auto;
}

.navbar a {
    text-decoration-line: none;
    margin: .5em;
    margin-left: 0;
}

a:hover, .toggles a:hover {
    text-decoration-line: underline;
    text-decoration-color: #7af0ea;
}

.imgArray {
    margin-right: 0;
    height: 3em;
    width: 3em;
}

footer {
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: self-start;
}

.footerItem {
    margin: 1em;
}


.footerItem.one {
    margin-right: auto;
}

footer h4, footer p {
    margin: 0;
    padding: 0;
}

footer h4 {
    font-size: 2em;
    border-radius: 0%;
}

footer a {
    text-decoration: underline;
    text-decoration-color: white;
    margin: 0;
}

footer h2 {
    border: 0;
    margin-top: 0;
}

footer h3 {
    margin: 0;
}

.footerImg {
    width: 50%;
}

.footerFlex {
    z-index: -100;
    display: flex;
}

.footerItem img {
    width: 2.5em;
    height: 3.00969447708em;
    margin-bottom: .5em;
}


.sveltebox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1E1A19;
    width: fit-content;
    border-radius: .3em;
    border: 1px solid #ff531a;
    margin: .3em;
    margin-left: 0;
}

.sveltebox h3 {
    font-family: 'Overpass', sans-serif;
    color: white;
}

.dalleBanner {
    font-size: .75em;
}

@media only screen 
  and (max-device-width: 767px) {
    .navItem a {
        font-size: .65em;
    }

    .imgArray {
        width: 1.4em;
        height: 1.4em;
    }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
 {

    h2 {
        font-size: 2.3em;
    }

    .navbar a {
        font-size: .9em;
    }

    .imgArray {
        width: 2.5em;
        height: 2.5em;
    }
}
