body {
    background-color: black;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top: 10em;
    margin: 0;
}

p {
    color: white;
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 300;
    font-stretch: 95%;
    font-size: 1.1em;
    margin: 1em;
}

.date {
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 700;
    font-stretch: 125%;
    color: white;
    font-size: .7em;
    padding: .5em;
    border-radius: .5em;
    width: 100%;
    text-align: right;
    display: flex;
}

.date span {
    margin-right: auto;
}

h1 {
    font-family: 'Mona Sans';
    color: white;
    font-weight: 900;
    font-stretch: 125%;
    font-size: 7em;
    transform: skew(-10deg);
    line-height: 90%;
    text-shadow: black .001em .001em .4em;
    line-height: 75%;
}


h2 {
    font-family: 'Mona Sans';
    color: white;
    font-weight: 900;
    font-stretch: 125%;
    font-size: 4em;
    transform: skew(-10deg);
    line-height: 90%;
    text-shadow: black .001em .001em .4em;
    line-height: 75%;
    margin: 1em;
    margin-bottom: 0;
    border-bottom: .05em white solid;
    padding-bottom: .1em;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

h3 {
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 500;
    font-stretch: 125%;
    color: white;
    font-size: 1em;
    padding: .5em;
    border-radius: .5em;
}

h4 {
    font-family: 'Mona Sans';
    text-shadow: black .001em .001em .07em;
    font-weight: 700;
    font-stretch: 125%;
    color: white;
    font-size: 1em;
    padding: .5em;
    border-radius: .5em;
}

.imgLogo {
    width: 5em;
    background-color: black;
    padding: .2em;
}

input {
    background-color: rgb(255, 60, 0);
    border: .01em white solid;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: .5em;
    background-color: black;
    box-shadow: 0 2em 3em 1em black;
    background-position: 50% 20%;
    background-size: cover;
    border: black solid .1em;
    z-index: 1000;
}

.imgLogo {
    margin-right: auto;
}

.navbar a {
    text-decoration-line: none;
    margin: 1em;
    margin-left: 0;
}

a:hover, .toggles a:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(122, 240, 234);
}

.imgArray {
    margin-right: 0;
    height: 3em;
    width: 3em;
}

.footerArray {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerArray img {
    width: 15%;
}

footer {
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-top: 7em;
    display: flex;
    justify-content: center;
    align-items: self-start;
}

.footerItem {
    margin: 1em;
}

.footerItem.one {
    margin-right: auto;
}

footer h4, footer p {
    margin: 0;
    padding: 0;
}

footer h4 {
    font-size: 2em;
    border-radius: 0%;
}

footer a {
    text-decoration: underline;
    text-decoration-color: white;
    margin: 0;
}

footer h2 {
    border: 0;
    margin-top: 0;
}

footer h3 {
    margin: 0;
}

.footerImg {
    width: 50%;
}

.footerFlex {
    z-index: -100;
    display: flex;
}